<div id="dashboard-container" class="container" style="border-radius: 16px; border: 1px solid #ccc; margin-top:20px">

  <br/>
  <div class="text-center h3">
    Dashboard
  </div>
  <hr/ style="border: 1px black solid">
  <br/>


  <div class="row" style="text-align:center">
    <% unless @recommendations.nil? %>
    <h4>Enjoyed <%= @film_title %>? Try these:</h4>
    <% @recommendations.each do |recommendationGroup| %>
    <div class="row" >
      <% recommendationGroup.each do |recommendation| %>
      <div class="col-md-3">
        <div class="card rounded-0" style="border: 3px solid black; ">
          <a href="/films/<%= recommendation.film_id %>">
            <img class="card-img-top rounded-0" style="width: 100%; height: 100%; object-fit: stretch;" src="https://image.tmdb.org/t/p/w780/<%= recommendation.poster_path %>"  alt="<%= recommendation.title %>" style="width:100%;" data-id=<%= recommendation.film_id %> data-title="<%= recommendation.title %>" data-year=<%= recommendation.year %> data-poster_path="<%= recommendation.poster_path %>" data-backdrop_path="<%= recommendation.backdrop_path %>" data-overview="<%= recommendation.overview %>">
          </a>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <div style="text-align:center">
    <h4>Recent activity</h4>
    <ul>
      <% unless @following.nil? %>
        <% @following.each_with_index do |follower, i| %>
          <li>
            <p><a href="/<%= follower.id %>/user_profile"><%= follower.email %></a> <%= @recent[i] %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
