<head>
  <%= erb :_header %>
  <link rel="stylesheet" type="text/css" href="../styles/review_style.css">
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  #add-review-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-color: black;
    border: 3px solid black ;
  }

  #add-review-button:hover {
    font-color: white;
    background: #009874;
    border: 2px solid black;
  </style>
</head>

<body style="background: url('https://www.sccpre.cat/png/big/11/111723_film-grain-png.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

<div class="container" style="background: white; border: 5px solid black; margin-top: 50px">

  <!-- FILM TITLE -->

  <h1 style="text-align: center; padding-top: 7px; font-family: 'Roboto Mono', monospace; font-weight: 700;">
    <%= @title %>
  </h1>
  <hr/ style="border: 2px black solid">
  <br>

  <!-- TRAILER & SYNOPSIS BLOCK -->

  <div style="display: flex; justify-content: space-between;">
    <div style="text-align:center;margin-bottom:10px; width: 50%; margin-right: auto">
      <iframe width="420" height="315" style="border: 5px solid black;"
        src='<%= @src %>' frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <% if @film.overview.nil? %>
    <div style="margin-bottom:10px; width:50%; border: 3px solid black; padding-left: 25px; padding-right: 25px; font-family: 'Roboto Mono', monospace; margin-left: auto;">
      <h3 class="text-center" style="padding-top: 10px; ">SYNOPSIS</h3>
      <hr/ style="border: 2px black solid; width: 90%">
      <p><%= @film.overview %></p>
    </div>
    <% else %>
    <div style="margin-bottom:10px; width:50%; border: 3px solid black; padding-left: 25px; padding-right: 25px; font-family: 'Roboto Mono', monospace; margin-left: auto;">
      <h3 class="text-center" style="padding-top: 10px; ">SYNOPSIS</h3>
      <hr/ style="border: 2px black solid; width: 90%">
      <p class="text-center">No synopsis is available for this film.</p>
      <% end %>
     </div>
  </div>

  <hr/ style="border: 2px black solid">

<!-- SHOW TIMES -->

    <div>

        <% if @showtime_error %>

          <p>Too many results - please check showtimes <a href="<%= @showtime_error %>">here</a></p>
        <% elsif @showtimes.empty? %>
          <!-- Don't do anything -->
        <% else %>
        <div style="font-family: 'Roboto Mono', monospace;">
        <h2 class="text-center">SHOWTIMES</h2>
        <div class="text-center">

          <% @showtimes.each do |showtime| %>

            <p>Showing at <a href="<%= showtime.website %>" target="_blank"><%= showtime.cinema_name %></a> on <%= DateHelper.screen_date(showtime.start_at) %> <% if showtime.booking_link %><a href="<%= showtime.booking_link %>"><i>Buy tickets</i></a><% end %></p>
          <% end %>
        </div>
        </div>
        <hr style="border: 2px solid black;">
        <% end %>
    </div>

    <div>

        <h2 class="text-center" style="font-family: 'Roboto Mono', monospace;">REVIEWS</h2>
        <br>
      <ul style="list-style: none">
       <% @reviews.each do |review|  %>
        <li> <pre style="font-family: 'Roboto Mono', monospace; font-size: 18px;"><%=review.review_content %></pre>
          <p style="font-family: 'Roboto Mono', monospace; font-style: italic">Reviewed by <%=@user_model.find_by_id(review.user_id).email %></p>
        </li>
       <% end %>
      </ul>
      <!-- <h2>Add a review for <%= @film.title %></h2> -->
      <!-- Trigger/Open The Modal -->

      <div class="text-center" style="font-family: 'Roboto Mono', monospace; ">
        <br>
        <a id="add-review-button" class="btn btn-md btn-success rounded-0" onclick="openAddReview('1')" style="color: white; border: 2px solid black">
                ADD A REVIEW
        </a>
      </div >

      <!-- The Modal -->
      <div id="myModal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="border: 5px solid black; margin-top: 40px; width: 800px; font-family: 'Roboto Mono', monospace;">
          <span class="close">&times;</span>
          <div style="text-align: center">
            <form action="/films/<%= @film.film_id %>" method="POST">
                <textarea style="border: 3px solid black; margin-top: 40px; width: 700px; font-family: 'Roboto Mono', monospace; outline: none;" rows="8" name="review" ></textarea>
                <br>
                <br>
                <input id="add-review-button" type="submit" value="ADD REVIEW">
            </form>
          </div>
        </div>
      </div>

    </div>


    <% unless @recommendations.empty? %>
    <hr/ style="border: 2px black solid">

    <h2 class="text-center" style="font-family: 'Roboto Mono', monospace;">RECOMMENDATIONS</h2>
    <br>
    <div class="text-center" style="font-family: 'Roboto Mono', monospace;">
      <p>If you liked this, you may also like:</p>
    </div>
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: auto;width: 250px; height:250px;">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="recommendation" src="https://image.tmdb.org/t/p/w780/<%= @recommendations[0].poster_path %>"  alt="<%= @recommendations[0].title %>" style="width:100%;" data-id="<%= @recommendations[0].film_id %>" data-title="<%= @recommendations[0].title %>" data-year="<%= @recommendations[0].year %>" data-poster_path="<%= @recommendations[0].poster_path %>" data-backdrop_path="<%= @recommendations[0].backdrop_path %>" data-overview="<%= @recommendations[0].overview %>">
        </div>

        <% @recommendations[1..-1].each do |recommendation| %>
        <div class="carousel-item">
          <img class="recommendation" src="https://image.tmdb.org/t/p/w780/<%= recommendation.poster_path %>"  alt="<%= recommendation.title %>" style="width:100%;" data-id="<%= recommendation.film_id %>" data-title="<%= recommendation.title %>" data-year="<%= recommendation.year %>" data-poster_path="<%= recommendation.poster_path %>" data-backdrop_path="<%= recommendation.backdrop_path %>" data-overview="<%= recommendation.overview %>">
        </div>
        <% end %>
      </div>

        <!-- Left and right controls -->

        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    <% end %>

  <div class="row">
    <div class="col-xl-10">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>


  <script type="text/javascript">
    let recommendations = document.getElementsByClassName('recommendation');
    let createFilm = function(){
      let film = this;
      $.post('/create', {id:film.dataset.id, title:film.dataset.title, year: film.dataset.year, poster_path: film.dataset.poster_path, backdrop_path:film.dataset.backdrop_path, overview:film.dataset.overview}, function(data, status, xhr){
      })
      .done(function(data) {
        window.location.replace("/films/" + film.dataset.id);
      })
      .fail(function (jqxhr,settings,ex) { alert('failed, '+ ex); });
    }
    for (let i = 0; i < recommendations.length; i++) {
      recommendations[i].addEventListener('click', createFilm, false);
    }
  </script>
  <script src="../scripts/review.js"></script>
</body>
