<div id="to-watch-container" class="container" style="border-radius: 16px; border: 1px solid #ccc; margin-top:20px">

  <br/>
  <div class="text-center h3">
    To Watch
  </div>

  <hr/>
  <br/>

  <% @films.each do |filmGroup| %>
    <div class="row" >
    <% filmGroup.each do |film| %>
      <!-- The Modal -->
      <div id="myModal<%= film.film_id %>" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div style="text-align: center">
            <form action="/films/<%= film.film_id %>" method="POST">
              <textarea rows="20" name="review" cols="90" ></textarea>
              <input type="submit" value="Add review">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="card" style="width: 18rem;">
          <a href="/films/<%= film.film_id %>"><img class="card-img-top" src="https://image.tmdb.org/t/p/w185/<%= film.poster_path %>" alt="Card image cap"></a>
          <div class="card-body">
            <% if @user.id == @id %>
            <div style="text-align:center">
              <button type="button" class="btn btn-default shadow-none" onclick="deleteToWatch(<%= @user.id %>,<%= film.film_id %>)">
                <i class="material-icons" style="border-width: 1px; border-style: solid; border-radius: 10px; padding: 30% 30% 30% 30%">
                  delete
                </i>
              </button>
              <button type="button" class="btn btn-default" onclick="openAddReview(<%= film.film_id %>)">
                <i class="material-icons" style="border-width: 1px; border-style: solid; border-radius: 10px; padding: 30% 30% 30% 30%">
                  create
                </i>
              </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <br>
  <% end %>

</div>
