<head>
  <%= erb :_header %>
  <link rel="stylesheet" type="text/css" href="../styles/review_style.css">
</head>
<div class="jumbotron" style="background-image: url(https://image.tmdb.org/t/p/w1280/<%= @backdrop_path %>); background-repeat: no-repeat; background-size:cover;">

  <div style="text-align: center;">

    <div style="display: inline-block;">
      <img src="https://pbs.twimg.com/profile_images/735242324293210112/H8YfgQHP_400x400.jpg" width="200px" class="img-thumbnail">
      <p style="margin-top: 5px; color: #ff69b4; font-size: 20px;"> <%= @email %> </p>
    </div>

    <br>

    <div style="display: inline-block; border: solid black 1px;">
      <table>
        <tr>
          <th>Followers</th>
          <th>Following</th>
        </tr>
        <tr>
          <td><%= @follower_count %></td>
          <td><%= @following_count %></td>
        </tr>
      </table>
    </div>

    <br>

    <div style="display: inline-block;">
      <button type="button" class="btn btn-success" id="follow" onclick="follower()" >Follow</button>
      <button type="button" class="btn btn-success" id="following" disabled>Following</button>
    </div>
  </div>

</div>

<div class="card-body" style="width: 18rem;   margin: 0 auto; float: none; margin-bottom: 10px;">
    <div class="btn-group" role="group" aria-label="list-group">
        <button onclick="dashboard()" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white"> Dashboard</a>
        </button>
        <button onclick="watched()" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white"> Watched </a>
        </button>
        <button onclick="toWatch()" type="button" class="btn btn-secondary" data-toggle="collapse" style="width:110px">
          <a style="color:white"> To Watch </a>
        </button>
    </div>
</div>

<div id="container">
  <div id="to-watch"></div>
  <div id="watched"></div>
  <div id="dashboard"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  if (<%= @userisfollowing %>){
    document.getElementById("following").style.display = "block";
    // document.getElementById("follow").style.margin-top = "5px";
    document.getElementById("follow").style.display = "none";
    // document.getElementById("following").style.margin-top = "5px";
  } else {
    document.getElementById("following").style.display = "none";
    // document.getElementById("follow").style.margin-top = "5px";
    document.getElementById("follow").style.display = "block";
    // document.getElementById("following").style.margin-top = "5px";
  }

  function follower(){
    if(<%= @user.id%> !=<%=@id%>)
      $.post('/addfollow', {userid:<%= @user.id%>, followerid: <%= @id%>}, function(data){
    })
    alert("Successfully Followed.")
    document.getElementById("follow").style.display = "none";
    document.getElementById("following").style.display = "block";
  }

  function toWatch(){
    removeElement("watched")
    removeElement("dashboard")
    let watched = document.createElement("div")
    let dashboard = document.createElement("div")
    watched.id = "watched"
    dashboard.id = "dashboard"
    document.getElementById("container").appendChild(watched)
    document.getElementById("container").appendChild(dashboard)
    console.log('/user_profile/to-watch');
    $.get('/<%= @id %>/user_profile/to-watch', function(data){
      document.getElementById("to-watch").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })

  }

  function watched(){
    removeElement("to-watch")
    removeElement("dashboard")
    let to_watch = document.createElement("div")
    let dashboard = document.createElement("div")
    to_watch.id = "to-watch"
    dashboard.id = "dashboard"
    document.getElementById("container").appendChild(to_watch)
    document.getElementById("container").appendChild(dashboard)
    $.get('/<%= @id %>/user_profile/watched', function(data){
      document.getElementById("watched").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })
  }

  function dashboard(){
    removeElement("to-watch")
    removeElement("watched")
    let to_watch = document.createElement("div")
    let watched = document.createElement("div")
    to_watch.id = "to-watch"
    watched.id = "watched"
    document.getElementById("container").appendChild(to_watch)
    document.getElementById("container").appendChild(watched)
    $.get('/<%= @id %>/dashboard', function(data){
      document.getElementById("dashboard").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })
  }

  function removeElement(elementId) {
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
  }

  watched();
</script>
