<head>
  <link rel="stylesheet" type="text/css" href="../styles/review_style.css">
</head>

<body style="background: url('https://www.sccpre.cat/png/big/11/111723_film-grain-png.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<head>
  <%= erb :_header %>
  <link rel="stylesheet" type="text/css" href="../styles/review_style.css">
</head>

<div onMouseOver="showButton()" onMouseOut="hideButton()" class="jumbotron rounded-0" style="border: 35px solid black; border-left: 0px; border-right: 0px; height: 550px;background: #ccc; background-image: url(https://image.tmdb.org/t/p/w1280/<%= @backdrop_path %>); background-repeat: no-repeat; background-size:cover;-webkit-filter:grayscale(100%);filter:contrast(110%) grayscale(100%);">

  <% if @user.id == @id %>

  <button id='change-banner' style="visibility:hidden;margin-bottom:5px" type="button" class="btn-default" onclick="window.location.href ='/add_favourite';">Change your banner photo</button>
  <br>
  <button id='change-profile' style="visibility:hidden;" type="button" class="btn-default" onclick="window.location.href ='/change-profile';">Change your profile photo</button>
  <% end %>
  <div style="text-align: center;">

    <div style="display: inline-block;" >
      <% if @user_profile_path %>
      <img src="https://image.tmdb.org/t/p/w185/<%= @user_profile_path %>" width="200px" class="img-thumbnail" style="-webkit-filter:grayscale(100%); filter:contrast(110%) grayscale(100%);">
      <% else %>
      <img src="https://pbs.twimg.com/profile_images/735242324293210112/H8YfgQHP_400x400.jpg" width="200px" class="img-thumbnail rounded-0" style="border: 5px solid white;">
      <% end %>
      <p style="margin-top: 5px; color: #ff69b4; font-family: 'Roboto Mono', monospace; font-size: 20px; color: black; background: white">
        <%= @email %>
      </p>
    </div>

    <br>

    <div style="display: inline-block; background-color: white; font-family: 'Roboto Mono', monospace; font-size: 16px;">
        <span>
          <%= @follower_count %><span onclick="showFollowers()"> Followers </span>|
          <%= @following_count %><span onclick="showFollowing()"> Following</span>
        </span>
    </div>

    <div id="following" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div style="text-align: center">
          <% if @following %>
            <h5>You are following:</h5>
            <% @following.each do |user| %>
              <p><a href="/<%= user.id %>/user_profile"><%= user.email %></a></p>
            <% end %>
          <% else %>
            <h5>You are not following any other users.</h5>
          <% end %>
        </div>
      </div>
    </div>

    <div id="followers" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div style="text-align: center">
          <% if @followers %>
            <h5>You are being followed by:</h5>
            <% @followers.each do |user| %>
              <p><a href="/<%= user.id %>/user_profile"><%= user.email %></a></p>
            <% end %>
          <% else %>
            <h5>You are not being followed by any other users.</h5>
          <% end %>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div style="display:inline-block;">
      <button type="button" class="btn btn-success rounded-0" style="font-family: 'Roboto Mono', monospace; font-size: 16px;" id="follow" onclick="follower()" >FOLLOW</button>
      <button type="button" class="btn btn-danger rounded-0" style="font-family: 'Roboto Mono', monospace; font-size: 16px;" id="following" onclick="unfollow()">UNFOLLOW</button>
    </div>
  </div>
</div>

<div id="following" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div style="text-align: center">
      <% if @following %>
        <h5>You are following:</h5>
        <% @following.each do |user| %>
          <p><a href="/<%= user.id %>/user_profile"><%= user.email %></a></p>
        <% end %>
      <% else %>
        <h5>You are not following any other users.</h5>
      <% end %>
    </div>
  </div>
</div>

<div class="card-body text-center" style="diplay: flex; margin-bottom: 10px;">
  <div class="btn-group" role="group" aria-label="list-group" style="font-family: 'Roboto Mono', monospace;">
    <% if @user.id == @id %>
      <button onclick="dashboard()" type="button" class="btn btn-secondary rounded-0" style="border: 3px solid black; font-size: 20px; background: white" data-toggle="collapse">
        <a style="color:black"> DASHBOARD</a>
      </button>
    <% end %>
    <button onclick="watched()" type="button" class="btn btn-secondary rounded-0" style="border: 3px solid black; font-size: 20px; background: white" data-toggle="collapse">
      <a style="color:black"> WATCHED </a>
    </button>
    <button onclick="toWatch()" type="button" class="btn btn-secondary rounded-0" data-toggle="collapse" style="width:130px; border: 3px solid black; font-size: 20px; background: white">
      <a style="color:black"> TO WATCH </a>
    </button>
  </div>
</div>

<div id="container">
  <div id="to-watch"></div>
  <div id="watched"></div>
  <div id="dashboard"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
  window.onload = function(){
    let spans = document.getElementsByClassName("close");
  }
  spans = document.getElementsByClassName("close");
  // let spans = document.getElementsByClassName("close")
  for(let i = 0; i < document.getElementsByClassName("close").length; i++){
    spans[i].onclick = function() {
      this.parentElement.parentElement.style.display = "none";
    }
  }
  function showFollowing(){
    let modal = document.getElementById("following");
    modal.style.display = "block";
  }
  window.onclick = function(event) {
    let modal = document.getElementById("following");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

   function showFollowers(){
    let modal = document.getElementById("followers");
    modal.style.display = "block";
  }
 window.onclick = function(event) {
    let modal = document.getElementById("followers");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  function showButton(){
    document.getElementById('change-banner').style.visibility = "visible";
    document.getElementById('change-profile').style.visibility = "visible";
  }
  function hideButton(){
    document.getElementById('change-banner').style.visibility = "hidden";
    document.getElementById('change-profile').style.visibility = "hidden";
  }

  if(<%= @user.id%> ==<%=@id%>){
    document.getElementById("follow").style.display = "none";
    document.getElementById("following").style.display = "none";
  } else if (<%= @userisfollowing %>){
    document.getElementById("following").style.display = "block";
    // document.getElementById("follow").style.margin-top = "5px";
    document.getElementById("follow").style.display = "none";
    // document.getElementById("following").style.margin-top = "5px";
  } else {
    document.getElementById("following").style.display = "none";
    // document.getElementById("follow").style.margin-top = "5px";
    document.getElementById("follow").style.display = "block";
    // document.getElementById("following").style.margin-top = "5px";
  }

  function follower(){
    if(<%= @user.id%> !=<%=@id%>){
      $.post('/addfollow', {userid:<%= @user.id%>, followerid: <%= @id%>}, function(data){
      })
      document.getElementById("follow").style.display = "none";
      document.getElementById("following").style.display = "block";
      location.reload();
     }
    }

    function unfollow(){
      $.post('/deletefollow', {userid:<%= @user.id%>, followerid: <%= @id%>}, function(data){
      })
      document.getElementById("follow").style.display = "block";
      document.getElementById("following").style.display = "none";
      location.reload();
    }

  function toWatch(){
    removeElement("watched")
    removeElement("dashboard")
    let watched = document.createElement("div")
    let dashboard = document.createElement("div")
    watched.id = "watched"
    dashboard.id = "dashboard"
    document.getElementById("container").appendChild(watched)
    document.getElementById("container").appendChild(dashboard)
    console.log('/user_profile/to-watch');
    $.get('/<%= @id %>/user_profile/to-watch', function(data){
      document.getElementById("to-watch").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })

  }

  function watched(){
    removeElement("to-watch")
    removeElement("dashboard")
    let to_watch = document.createElement("div")
    let dashboard = document.createElement("div")
    to_watch.id = "to-watch"
    dashboard.id = "dashboard"
    document.getElementById("container").appendChild(to_watch)
    document.getElementById("container").appendChild(dashboard)
    $.get('/<%= @id %>/user_profile/watched', function(data){
      document.getElementById("watched").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })
  }

  function dashboard(){
    removeElement("to-watch")
    removeElement("watched")
    let to_watch = document.createElement("div")
    let watched = document.createElement("div")
    to_watch.id = "to-watch"
    watched.id = "watched"
    document.getElementById("container").appendChild(to_watch)
    document.getElementById("container").appendChild(watched)
    $.get('/<%= @id %>/dashboard', function(data){
      document.getElementById("dashboard").innerHTML = data
      //load script after html is returned
      $.getScript( "../scripts/review.js" )
      .done(function( script, textStatus ) {
        console.log( textStatus );
      })
      .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
      });
    })
  }

  function removeElement(elementId) {
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
  }

  watched();
</script>
